.calendarContainer {
  max-width: 300px;
  margin: 0 auto;
}

.calendarHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.calendarHeader button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.calendarGrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.5rem;
}

.calendarWeekday,
.calendarDay {
  text-align: center;
  padding: 0.5rem;
}

.calendarDay {
  cursor: pointer;
  border-radius: 50%;
}

.calendarDay:hover,
.calendarDay.selected {
  background-color: #50248f;
  color: white;
}
