.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.title {
  color: #50248f;
  text-align: center;
  margin-bottom: 2rem;
}

.reservationGrid {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
}

.leftColumn,
.rightColumn {
  flex: 1;
}

.astrologueList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.astrologueCard {
  display: flex;
  align-items: center;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
}

.astrologueCard:hover,
.astrologueCard.selected {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.astrologueCard.selected {
  border-color: #50248f;
}

.astrologueAvatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1rem;
}

.astrologueDescription {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  background-color: rgba(80, 36, 143, 0.9);
  color: white;
  padding: 1rem;
  border-radius: 10px;
  width: 250px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
}

.astrologueCard:hover .astrologueDescription {
  display: block;
}

.descriptionContent {
  font-size: 0.9rem;
}

.select,
.input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.timeSlots {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 1rem;
}

.timeSlot {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  background: none;
}

.timeSlot.selected {
  background-color: #50248f;
  color: white;
}

.nextAvailabilityButton {
  display: block;
  width: 100%;
  padding: 0.5rem;
  margin-top: 1rem;
  background-color: #50248f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.totalPrice {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.submitButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem;
  background-color: #50248f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 1rem;
}

.submitButton:hover {
  background-color: #3c1b6b;
}

.paypalIcon {
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
}


.tooltip {
  background-color: #f8d7da;
  color: #721c24;
  padding: 0.5rem;
  border: 1px solid #f5c6cb;
  border-radius: 0.25rem;
  margin-top: 0.5rem;
}

.bottomSection {
  margin-top: 2rem;
  display: flex;
  justify-content: center; /* Centre la section horizontalement */
  flex-direction: column; /* Alignement vertical des éléments */
  align-items: center; /* Centre les éléments horizontalement */
}

.section {
  margin-bottom: 2rem;
  width: 80%; /* Réduit la largeur de la section */
  max-width: 500px; /* Limite la largeur maximale de la section */
  margin-left: auto;
  margin-right: auto;
}

.paypalButtonContainer {
  width: 40%; /* Prend toute la largeur du parent */
}

.paypalButton {
  width: 40%; /* Prend toute la largeur du parent */
  padding: 0.5rem;
  background-color: #50248f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 1rem;
  text-align: center; /* Centre le texte dans le bouton */
}

.paypalButton:hover {
  background-color: #3c1b6b;
}