/* Section principale avec arrière-plan, padding, bordures arrondies et marge */
.section {
  background-color: #14151f;
  padding: 1.5rem;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
}

/* Titre de section avec couleur spécifique et marge */
.sectionTitle {
  color: #00dc82;
  margin-bottom: 2rem;
}

/* Table générale avec largeur pleine et espacement */
.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0.5rem;
}

/* En-tête de table alignée à gauche, couleur et padding */
.table th {
  text-align: left;
  color: white;
  padding: 0.5rem;
  font-weight: bold;
}

/* Cellules de table avec padding et fond */
.table td {
  padding: 0.25rem 0.5rem;
  background-color: #1e2029;
}

/* Input général avec fond, bordures, couleur de texte, padding et bordures arrondies */
.input {
  background-color: #2d2f3b;
  border: 1px solid #3a3d4a;
  color: #e4e4e4;
  padding: 0.5rem;
  border-radius: 0.25rem;
  width: auto;
  max-width: 100%; /* Limiter la largeur maximum à 100% */
  min-width: 40%;
  box-sizing: border-box; /* Add this line */
}

/* Input petit avec largeur définie */
.inputSmall {
  width: 80px;
}

/* Boutons de suppression et d'ajout avec fond transparent, bordures, curseur, taille de police, padding, et couleur */
.deleteButton,
.addButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  padding: 0;
  margin-left: 0.5rem;
  color: #ffffff;
}

/* Bouton de sauvegarde avec couleur de fond, bordures, couleur de texte, curseur, padding, bordures arrondies et taille de police */
.saveButton {
  background-color: #00dc82;
  border: none;
  color: #14151f;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-size: 0.9rem;
  display: inline-block;
  margin-top: 1rem;
}

/* Input pour le toggle avec opacité, largeur et hauteur définies */
.toggleInput {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Slider du toggle avec positionnement, curseur, fond, transition et bordures arrondies */
.toggleSlider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

/* Avant du slider avec positionnement, contenu, taille, fond, transition et bordures arrondies */
.toggleSlider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

/* Changement de fond du slider lorsque le toggle est activé */
.toggleInput:checked + .toggleSlider {
  background-color: #00dc82;
}

/* Changement de position du slider lorsque le toggle est activé */
.toggleInput:checked + .toggleSlider:before {
  transform: translateX(24px);
}

.toggleText {
  margin-left: 10px;
}
/* Ligne pour chaque jour avec alignement et marge */
.dayRow {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

/* Checkbox pour le jour avec marge */
.dayCheckbox {
  margin-right: 1rem;
}

/* Conteneur des créneaux horaires avec affichage flexible et espacement */
.timeSlots > div{
  display: flex;
  /*flex-wrap: wrap;
  gap: 0.5rem;*/
  align-items: center;
  margin-bottom: 0.5rem;
}

/* Créneau horaire avec alignement */
.timeSlot {
  display: flex;
  align-items: center;
}
/* Conteneur pour le délai de prévenance personnalisé */
.customNoticeContainer {
  margin-top: 0.5rem; /* Espace entre le select et l'input */
}

/* Sélecteur pour la période de préavis avec marge et padding */
.noticePeriod {
  margin-top: 1rem;
}

/* Input pour le sélecteur de période de préavis avec marge et padding */
.noticePeriodSelect {
  margin-left: 0.5rem;
  padding: 0.25rem;
}

/* Changement de fond pour les boutons lors du survol */
.button:hover,
.saveButton:hover {
  background-color: #00b76b;
}

/* Input pour la description avec largeur et padding définis */
.descriptionInput {
  width: 100%;
  min-height: 100px;
  padding: 0.5rem;
  box-sizing: border-box; /* Add this line */
}

/* Cellules spécifiques du tableau des services avec largeur définie */
.serviceTable .nameCell {
  width: 30%; /* Ajuster selon les besoins, ou retirer pour une largeur automatique */
}

.serviceTable .descriptionCell {
  width: 40%; /* Ajuster selon les besoins, ou retirer pour une largeur automatique */
}

.serviceTable .priceCell,
.serviceTable .durationCell {
  width: 15%; /* Ajuster selon les besoins, ou retirer pour une largeur automatique */
}

.serviceTable .actionCell {
  width: auto; /* Ajuster automatiquement selon le contenu */
}

/* Marge pour les éléments enfants des sections */
.section > * {
  margin-bottom: 1.5rem;
}

/* Marge et couleur pour les titres de section */
.section h2 {
  margin-bottom: 1rem;
  color: #00dc82;
}

/* Groupe de formulaire avec marge */
.formGroup {
  margin-bottom: 1rem;
}

/* Placeholder des inputs, textarea et select avec couleur définie */
.input::placeholder,
.textarea::placeholder,
.select::placeholder {
  color: #989898;
  font-style: italic;
}

/* Focus pour les inputs, textarea et select avec couleur définie */
.input:focus,
.textarea:focus,
.select:focus {
  color: #ffffff;
}

/* Boutons d'action avec affichage flexible et espacement */
.actionButtons {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

/* Conteneur du toggle avec positionnement, affichage et taille */
.toggleContainer {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-right: 1rem;
}

/* Label du toggle avec positionnement, curseur, fond, transition et bordures arrondies */
.toggleLabel {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

/* Avant du label du toggle avec positionnement, contenu, taille, fond, transition et bordures arrondies */
.toggleLabel:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

/* Changement de fond du label du toggle lorsque le toggle est activé */
.toggleInput:checked + .toggleLabel {
  background-color: #00dc82;
}

/* Changement de position de l'avant du label du toggle lorsque le toggle est activé */
.toggleInput:checked + .toggleLabel:before {
  transform: translateX(26px);
}

/* Tableau des services avec largeur, espacement et paddings définis */
.serviceTable {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
}

.serviceTable th,
.serviceTable td {
  padding: 10px;
  text-align: left;
  vertical-align: top;
}

/* Textarea petit avec largeur, redimensionnement et overflow définis */
.smallTextarea {
  width: 100%;
  resize: none;
  overflow: hidden;
}

/* Disponibilités */
.dayInfo {
  display: flex;
  align-items: center;
  width: 150px;
}

.dayName {
  margin-left: 10px;
}

.dayContent {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.unavailable {
  margin-left: 20px;
  color: #ffffff;
}

.slotActions {
  display: flex;
  align-items: center;
  margin-left: auto;
}

/* Liens sociaux */
.socialTable {
  width: auto;
  border-collapse: separate;
  border-spacing: 0 5px;
}

.socialTable td {
  vertical-align: middle;
  width: fit-content;
}
.socialInput {
  width: auto;
  max-width: 100%;
  box-sizing: border-box; /* Assurez-vous que le padding est inclus dans la largeur */
}

/* Codes promo */
.fullWidthInput {
  width: 100%;
}

.smallInput {
  width: 60px;
}

/* Info-bulle */
/* Info-bulle */
.infoIcon {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  background-color: #00dc82;
  font-size: 12px;
  margin-left: 5px;
  cursor: help;
  position: relative;
}

.infoIcon:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 125%;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  white-space: nowrap;
  z-index: 10;
  opacity: 1;
  visibility: visible;
}

.infoIcon::after {
  content: attr(data-tooltip);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 125%;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  white-space: nowrap;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
}

.infoIcon:hover::before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 115%;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #333;
  z-index: 10;
  opacity: 1;
  visibility: visible;
}

.infoIcon::before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 115%;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #333;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
}

/* Redimensionnement des textarea pour le prix et la durée */
.smallTextarea {
  width: 60px;
  resize: none;
  overflow: hidden;
}

/* Toggle de visioconférence */
.visioToggle {
display: flex;
align-items: center;
margin-bottom: 1rem;
}

.visioToggle span {
margin-left: 10px;
}

.descriptionTextarea {
width: 100%;
resize: none;
overflow: auto;
}

.fullWidthInput {
width: 100%;
}

.smallInput {
width: 100%;
}

.charCount {
text-align: right;
font-size: 0.8rem;
color: #aaa;
}

/* Pour aligner le texte et le toggle */
.calendlyToggleContainer {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

/* Pour espacer le texte du toggle */
.calendlyToggleLabel {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

/* Style pour le bouton de connexion Calendly */
.connectButton {
  background-color: #00dc82;
  border: none;
  color: #14151f;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-size: 0.9rem;
  display: inline-block;
  margin-top: 1rem;
}

/* Autres ajustements potentiels */
.connectButton:hover {
  background-color: #00b76b;
}

.error {
  color: red;
  font-size: 0.875em;
  margin-top: 0.25em;
}
